<!DOCTYPE html>
<html>
    <head>
        <title>All Blogs</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">read blogs</a></li>
                <li><a href="/blog/create">create blog</a></li>
            </ul>
        </nav>
        <h1>Read all Blogs</h1>
        <div id="blog-container">
            <% blogs.forEach( blog => { %>
                <div class="blog">
                    <h2><%= blog.title %></h2>
                    <h4><%= blog.author %></h4>
                    <% if(blog.content.length > 100) { %>
                        <p><%= blog.content.substring(0, 100) %></p>
                        <a href="/blog/<%= blog.id %>">Read more...</a>
                    <% } else { %>
                        <p><%= blog.content %></p>
                    <% } %>
                </div>
            <% }); %>
        </div>
    </body>
</html>




